# Introduction to Programming


![title](images/python-logo-master-v3-TM.png)<br>
**Python** is a well-known programming language which supports developing applications in numerous areas (e.g. web programming, scientific computing, and data science).
Python programming language is an interpreter and Python codes are processed at run-time. Therefore, there is no need to compile Python programs before executing it. 
There are two main versions of Python, 2.X and 3.X, this course covers Python 3.X, and it is guaranteed the codes which are written based on this version work in all future versions. 
___

## Basic concepts

Letâ€™s start off by writing a simple code that just displays a short message on the output cell.
To output a string in Python, we use **print** statement:

In [1]:
print("Hello world!")

Hello world!

In [2]:
print("I am Data Scientist")

I am Data Scientist

### Python simple operations

In the simplest form, Python is a powerful calculator.
Enter a calculation into the code cell directly; it will show you the answer immediately.

In [3]:
2+4

6

In [4]:
(5+4)*2/3

6.0

We use an astrick **'*'** to indicate multiplication and a forward slash **'/'** to indicate division. The minus **'-'** sign indicates a negative number. We also use parentheses to determine which operation are performed first.

In [5]:
((-10+2)/4)*-3

6.0

**Division by Zero** is made an Error in Python. look at the following code:

In [6]:
25/0

ZeroDivisionError: division by zero

___
To represent non-integer numbers, we can use **floats**. 0.25 and -6.313 are two examples of float numbers. In the most cases, floats are generated by dividing two integers. A float is also produced by running an operation on two floats, or on a float and an integer.

In [7]:
3/4

0.75

Python supports **data type conversion** and in most cases does this operation implicitly.

In [8]:
6+2.33

8.33

Python supports **exponentiation**, and we can do this operation by using two asterisks.

In [9]:
3**3 # 3^3

27

In [10]:
3^3

0

In [11]:
81**(1/2)

9.0

To determine the **quotient** and **remainder** of a division, we can use **floor division** '//' and **modulo** '%' operators, respectively.

In [12]:
23//3 # the quotient of 23 and 3 is 7

7

In [13]:
23%3 # the remainder of 23 and 3 is 2

2

In [14]:
13%6 # the remainder of 13 divided by 6

1


A **string** is created by entering a text between two single or double quotation marks.

In [15]:
"I am learning Python programming language."

'I am learning Python programming language.'

If you want to use escape characters in your text, you have to use **backslash** before them.

In [16]:
print("I\'m a Python Programmer.\nI love Python.")

I'm a Python Programmer.
I love Python.

### Input & Output

![](images/img01.gif)<br>
Programs usually take inputs and process it to make output.
To get input from the user, we can use **input** function. This function shows a text on the output console then gets the user's input and return what they enter as a **string**.

In [20]:
value = input("Please enter a number:")

Please enter a number:6

In [21]:
type(value)

str

In [22]:
intValue = int(value)

In [23]:
type(intValue)

int

In [24]:
spam=input("Enter a number:")
egg=10+int(spam) #convert string to integer explicitly.
print("Result={}".format(egg))

Enter a number:5
Result=15

### Simple String Operations

One of the most important operations that we can use when we are working with strings is **concatenation** which can be done on any two strings.

In [25]:
spam="first"
egg="second"
print(spam+" string"+'          '+egg+" string")

first string          second string

In [26]:
a= "farah"
b= "ice cream"
print(a+" likes "+b)

farah likes ice cream

You cannot concat a string and a number, it makes an error. Take a look at the exapmle:

In [28]:
age=23
print("He is "+age+" years old.")

TypeError: can only concatenate str (not "int") to str

In [29]:
age=23
print("He is "+str(age)+" years old.")

He is 23 years old.

We can multiply strings by integers. This operation produces a repeated version of the original string. You cannot multiply strings by other strings. Also, it is not possible to multiply strings by floats.

In [30]:
"69"*3

'696969'

In [31]:
print("spam"*4)

spamspamspamspam

In [32]:
print("farah "*6)

farah farah farah farah farah farah

### Type Conversion

In Python, we can use **int()**, **float()**, and **str()** functions to convert values to integer, float, and string data types, respectively.
Lets take a look at the difference between these two examples:

In [33]:
"2"+"    3"

'2    3'

In [34]:
int('2')+int('3')

5

In [35]:
2+3

5

We also use data type conversion to turn user input (**input** function always returns a string) to numbers (integers or floats).

In [36]:
first=float(input("Enter first number:"))
second=float(input("Enter second number:"))
print(first)
print(second)
print("Sum:"+str(first+second))
type(first)

Enter first number:5
Enter second number:9
5.0
9.0
Sum:14.0

float

In [37]:
first=(input("Enter first number:")) #default input: string
second=(input("Enter second number:"))
print(first)
print(second)
print("Sum:"+(first+second))
type(first)

Enter first number:5
Enter second number:9
5
9
Sum:59

str

### Variables

Variables as an integral part of programming languages play an important role in writing every computer program. Python as a popular programming language properly supports variables.
Python variables are references to objects, but the actual data is contained in the objects.

<center><img src="images/img021.png" width="400px" height="300px"></center>

To assign a variable, use one equals sign.

In [38]:
x=45
print(x)

45

In [39]:
a=30
a+=15
print(a)

45

In [44]:
b=a
print(a,'\n',b)

45
 45

<center><img src="images/img031.png" width="500px" height="360px"></center>

In [45]:
y=x
print(y)

45

<center><img src="images/img041.png" width="500px" height="360px"></center>

In [46]:
y=68
print(y)

68

Certain limitations apply regarding the characters that may be used in Python **variable names**. The only characters that are allowed are letters, numbers, and underscores. Additionally, they can't start with numbers.
For example, **123page** is not a valid variable name.

We should assign a value to a variable before use it. Otherwise, it produces an error. We can use the **del** function to delete a variable; it removes the reference from the name to the value. After that trying to use the variable makes an error.

In [47]:
foo="hello"
print(foo)

hello

In [48]:
del(foo)
print(foo) #error bcs already delete

NameError: name 'foo' is not defined

To write code more concisely, we can use **in-place operators**. For example, instead of writing **x=x+10**, we can write **x+=10**.

In [49]:
x=25
x+=15 #x=x+15
print(x)

40

In [50]:
foo="spam "
foo+="egg" #foo=foo+egg
print(foo)

spam egg

In [53]:
a = int(input("Enter a number, a= "))
b = int(input("Enter a number, b= "))
temp = a #temporary variable
a= b
b= temp

#print("Result={}".format(egg)) 
print('a={} and b={}'.format(a,b)) #option 1
print("a={}".format(a)+" and b={}".format(b))  #option 2

Enter a number, a= 10
Enter a number, b= 5
a=5 and b=10
a=5 and b=10

In [54]:
a = int(input("Enter a number, a= "))
b = int(input("Enter a number, b= "))
a=a+b
b=a-b
a=a-b
print('a={} and b={}'.format(a,b))

Enter a number, a= 10
Enter a number, b= 5
a=5 and b=10

In [55]:
a = int(input("Enter a number, a= "))
b = int(input("Enter a number, b= "))
a,b = b,a
print('a={} and b={}'.format(a,b))

Enter a number, a= 10
Enter a number, b= 5
a=5 and b=10